In [9]:
import pandas as pd
!pip install TextBlob

Collecting TextBlob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ---------------------------------------- 0.0/636.8 kB ? eta -:--:--
     ---------------------- -------------- 378.9/636.8 kB 11.9 MB/s eta 0:00:01
     ------------------------------------  634.9/636.8 kB 10.1 MB/s eta 0:00:01
     -------------------------------------- 636.8/636.8 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\44776\anaconda3\lib\site-packages (from TextBlob) (3.8.1)
Requirement already satisfied: click in c:\users\44776\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\44776\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\44776\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\44776\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (4.65.0)
Requirement already satisfied: colorama in c:\users\44776\anaconda3\lib\site-packages (from click->nltk>=3.1->TextBlob) (0.4.6)
Installing collected packages: TextBlob
Successfully installed TextBlob-0.17.1

In [10]:
from textblob import TextBlob

In [3]:
df = pd.read_csv('jdwreviews2.csv')
df

,Reviewer Name,Review Date,Star Rating,Review Text,Total Reviews by Reviewer,Number of Images,Image URLs
0,Maggie Savidge,2 months ago,5,It was quite busy when we arrived so struggled...,398 reviews,4,https://lh5.googleusercontent.com/p/AF1QipNAPb...
1,Nicola King,4 weeks ago,4,Lovely little place in Manchester.\nFriendly s...,112 reviews,4,https://lh5.googleusercontent.com/p/AF1QipPipL...
2,Aaron Holmes-Doyle,2 weeks ago,5,I was visiting Manchester for a night out with...,52 reviews,3,https://lh5.googleusercontent.com/p/AF1QipM8K0...
3,Hiren Shah,3 months ago,5,There's nothing like a good Weatherspoons. You...,20 reviews,3,https://lh5.googleusercontent.com/p/AF1QipMGSe...
4,Giovanni Sumano,5 months ago,5,Beautifully decorated. You know you can't get ...,57 reviews,2,https://lh5.googleusercontent.com/p/AF1QipNOku...
...,...,...,...,...,...,...,...
1085,christine Whittaker,5 years ago,4,Very large pub in city centre. Noisy but good ...,219 reviews,0,NaN
1086,Joey Cain,5 years ago,4,Good pub for a cheap few beers plenty of space...,87 reviews,0,NaN
1087,A B (73geek),6 years ago,2,It severely depends on what you expect to find...,123 reviews,0,NaN
1088,martin christopher,2 months ago,4,Usual slow service,206 reviews,0,NaN
1089,Charlotte Brennand,3 years ago,1,"It was terrible, took over half an hour got th...",No reviews count,0,NaN

In [11]:
df['Polarity'] = df['Review Text'].apply(lambda x: TextBlob(x).sentiment.polarity)
df['word_count'] = df['Review Text'].apply(lambda x: len(str(x).split()))
df['review_len'] = df['Review Text'].apply(lambda x: len(str(x)))

In [12]:
df

,Reviewer Name,Review Date,Star Rating,Review Text,Total Reviews by Reviewer,Number of Images,Image URLs,Polarity,word_count,review_len
0,Maggie Savidge,2 months ago,5,It was quite busy when we arrived so struggled...,398 reviews,4,https://lh5.googleusercontent.com/p/AF1QipNAPb...,0.298667,45,239
1,Nicola King,4 weeks ago,4,Lovely little place in Manchester.\nFriendly s...,112 reviews,4,https://lh5.googleusercontent.com/p/AF1QipPipL...,0.330833,23,130
2,Aaron Holmes-Doyle,2 weeks ago,5,I was visiting Manchester for a night out with...,52 reviews,3,https://lh5.googleusercontent.com/p/AF1QipM8K0...,0.520833,43,236
3,Hiren Shah,3 months ago,5,There's nothing like a good Weatherspoons. You...,20 reviews,3,https://lh5.googleusercontent.com/p/AF1QipMGSe...,0.464550,50,280
4,Giovanni Sumano,5 months ago,5,Beautifully decorated. You know you can't get ...,57 reviews,2,https://lh5.googleusercontent.com/p/AF1QipNOku...,0.151538,28,165
...,...,...,...,...,...,...,...,...,...,...
1085,christine Whittaker,5 years ago,4,Very large pub in city centre. Noisy but good ...,219 reviews,0,NaN,0.394643,18,89
1086,Joey Cain,5 years ago,4,Good pub for a cheap few beers plenty of space...,87 reviews,0,NaN,0.150000,22,106
1087,A B (73geek),6 years ago,2,It severely depends on what you expect to find...,123 reviews,0,NaN,0.450000,26,145
1088,martin christopher,2 months ago,4,Usual slow service,206 reviews,0,NaN,-0.275000,3,18
1089,Charlotte Brennand,3 years ago,1,"It was terrible, took over half an hour got th...",No reviews count,0,NaN,-0.604167,31,160

In [13]:
cl = df.loc[df.Polarity == 1, ['Review Text']].sample(5).values
for c in cl:
    print(c[0])
    print("**************************************************")

Excellent city centre Spoons
**************************************************
Yummy food! Great beer! No complaints at all!
**************************************************
Best part - No reservations required.
**************************************************
Refillable coffee Â£1.45 excellent value for money
**************************************************
One of the best wetherspoons
**************************************************

In [14]:
cl = df.loc[df.Polarity == 0, ['Review Text']].sample(5).values
for c in cl:
    print(c[0])
    print("**************************************************")

Probably one of the largest weatherspoons I've ever been to.  Couple of different bars means queues aren't massive
**************************************************
Staff couldn't even tell you which steak was which when food arrived at table, just told to sort it out ourselves. No interest in customer's and attitude problems.
**************************************************
Securities that are not securities treat customers with disrespect.
Tim Martin needs to disguise himself and know the security who feel the pub owner and the manager that not manager. â€¦
**************************************************
Its a wetherspoons??wetherspoons are what they are. No frills and my lager didnt taste like pond
**************************************************
After eating in here 15.12.18 we both now have had food poisoning for the last 3 days.
The food was mixed grill. â€¦
**************************************************

In [15]:
cl = df.loc[df.Polarity <= -0.7, ['Review Text']].sample(5).values
for c in cl:
    print(c[0])
    print("**************************************************")

Came for breakfast this morning 6/ 11/ 22.

Dreadful. Burnt toast sent with, meal that was apart from the sausages lukewarm â€¦
**************************************************
Rubbish couldnt get served on the sunday. Went in for a coffee on the monday and after waiting 15 mins to get served they had no cups! The worst spoons ive been in!
**************************************************
I am a fan of Wetherspoon pubs, but not having any of your Burn's day menu on Burns night is a bit pathetic!
**************************************************
Called in for lunch. Chose 3 items the 3 for Â£12. One of the items was the 11 inch garlic pizza bread. It was awful. When the waitress came to collect the plates told her why we had not eaten it. Her response 'yea we have has a number of complaints about it today'.so why are you letting people order it. Very poor.
**************************************************
Tragic
**************************************************